$icolor: $granite;                // input text colour
$lcolor: lighten($granite, 25%);  // label text colour
$pcolor: lighten($granite, 50%);  // input placeholder colour
$tcolor: $bondi-blue;             // theme colour (active box and buttons)
$ierror: #c00;                    // input error colour

fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}

legend {
  clear: both;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0;
  margin: 1em 0;
  color: $lcolor;
}

label {
  display: block;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
  margin-right: 0.75em;
  margin-bottom: 0.25em;
  color: $lcolor;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &:last-child {
    margin-bottom: 1em;
  }
}

.jsenabled .help {
  display: none;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0.75em 2em;
  color: $icolor;
  background-color: $grey-f9;
  border: 1px solid $grey-e0;
  border-radius: 0;
  box-shadow: none;
  outline: 0;

  &:valid, &:invalid {
    outline: 0;
    box-shadow: none;
  }

  &:focus {
    border-color: $tcolor;
  }
}

input {
  &::-webkit-input-placeholder { color: $pcolor; }
  &::-moz-placeholder { color: $pcolor; }
  &:-ms-input-placeholder { color: $pcolor; }
  &::placeholder { color: $pcolor; }
}

input[type="checkbox"],
input[type="radio"] {
  clear: left;
  display: inline-block;
  width: auto;
  vertical-align: baseline;
  padding: 0;
  margin: 0.25em;
  background-color: transparent;
  border: 0 none;
}

textarea {
  min-height: 6em;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"],
textarea, select:valid, select:invalid {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

select:valid, select:invalid {
  text-indent: 1px;
  text-overflow: "";
  background: $grey-f9 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAA8BAMAAADml+XTAAAAGFBMVEWox+Xs8/lblM6Mtd3J2+9toNP///9Tj8z+Q0+kAAAAS0lEQVQ4y2MoxwIYRgVHBdEFS9KAIAVNsBQkmIqu3Q0o6I4uGAYUDEcXLEhLS8CwvUgsTQjTSWxp7JiCiolYHF+cjM1H7KOxOcIFAdSpKTPVZfIoAAAAAElFTkSuQmCC) no-repeat 100% 50%;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select::-ms-expand {
  display: none;
}

optgroup {
  font-weight: bold;
  font-style: normal;
  padding: 0 1em;
}

option {
  padding: 0 1em;
}

button {
  font-family: inherit;
  font-size: 1em;
  width: 10em;
  padding: 0.75em 0;
  border: 0 none;
  outline: none;
  cursor: pointer;
}

input[type="button"],
button[type="submit"] {
  color: $white;
  background-color: $tcolor;

  &:hover {
    background-color: darken($tcolor, 25%);
  }
}

input[type="reset"] {
  background-color: $ierror;

  &:hover {
    background-color: darken($ierror, 10%);
  }
}

label, input, textarea, select, button {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.required label:after, label.required:after {
  content: "*";
  margin-left: 0.25em;
  color: $ierror;
}

.disabled {
  display: none;
}

.jsenabled .error {
  color: $ierror;
  label { color: $ierror; }
  .help { display: inline; }
  input, textarea, select {
    border-color: $ierror;
  }
}

/* jQueryUI datepicker */
.ui-datepicker {

  padding: 0;
  color: $lcolor;
  background-color: $white;
  border: 1px solid $grey-e0;

  a.ui-datepicker-prev {
    width: 3em;
    float: left;
    text-indent: -999px;
    overflow: hidden;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJAgMAAACHww4NAAAADFBMVEWIiIj///+IiIiIiIgyZ1NhAAAAA3RSTlMAAIAXzkf+AAAAH0lEQVQIHWMIaGBwOsDAfYBB/wDDfjAJZDMdYHBoAABwvQhIRyjUBwAAAABJRU5ErkJggg==) 10% 50% no-repeat;
  }

  a.ui-datepicker-next {
    width: 3em;
    float: right;
    text-align: right;
    text-indent: 999px;
    overflow: hidden;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJAgMAAACHww4NAAAADFBMVEWIiIj///+IiIiIiIgyZ1NhAAAAA3RSTlMAAIAXzkf+AAAAIElEQVQIHWNsOMD4QIHxBwfjPybG/40gEsh+kMDYuB8Ai04KSr7ws7gAAAAASUVORK5CYII=) 90% 50% no-repeat;
  }

  select {
    float: left;
    width: 4em;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: $white;
    border: 0 none;

    &:valid, &:invalid {
      background: $white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFAgMAAADqPS74AAAADFBMVEWIiIj///+IiIiIiIgyZ1NhAAAAA3RSTlMAAIAXzkf+AAAAG0lEQVQIHWPa/7+BqQCI7/xiYDJ/wcDEt8ABAF/8CBshWRPYAAAAAElFTkSuQmCC) no-repeat 95% 50%;
    }

    option {
      padding: 0;
    }
  }

  table {
    clear: both;
    width: 14em;
    font-size: 1em;
    margin: 6px 0;
    border-spacing: 0;
    border-collapse: collapse;

    th {
      width: 2em;
      font-weight: bold;
      text-align: right;
      padding: 1px 2px;
      color: $lcolor;
    }

    td {

      text-align: right;
      padding: 1px 2px;
      color: $grey-e0;

      a {
        display: block;
        text-decoration: none;
        color: $lcolor;

        &.ui-state-active, &:hover {
          color: $white;
          background-color: $lcolor;
        }
      }
    }
  }

}
