// base stylesheet

// colour variables
$background:    #fff;
$textcolor:     #333;

$white:         #fff;
$grey:          #b6b7b9;
$errol-grey:    #282828;
$granite:       #222222;
$grey-f9:       #f9f9f9;
$grey-f3:       #f3f3f3;
$grey-e0:       #e0e0e0;
$errol-orange:  #e09e33;
$peter-blue:    #5391ca;
$errol-danger:  #d43f3a;

// dependencies
@import 'functions';
@import 'page';
@import 'form-site';
